<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Recommendations</title>
        <!-- Bootstrap core CSS -->
    <link href="../static/css/bootstrap.min.css" rel="stylesheet">


</head>
<body>

<!-- Navigation -->
    <nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
      <a class="navbar-brand" href="#">The Ron Burgundy</a>

      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarsExampleDefault">
        <ul class="navbar-nav mr-auto">

            <li class="nav-item active">
            <a class="nav-link" href="/input">Home <span class="sr-only">(current)</span></a>
          </li>

           <li class="nav-item">
            <a class="nav-link" href="/input">The Recommender</a>
          </li>

            <li class="nav-item">
            <a class="nav-link" href="/input">About the Project</a>
          </li>

        </ul>

      </div>
    </nav>





<!-- Table:       <td><a href="https://www.thewhiskyexchange.com/">Example output</a> </td> -->

<div class="container">
    <br><br>
    <h1>Recommendations</h1>
    <img class="img-fluid mb-5 d-block mx-auto" src="https://images.supercall.com/v1/image/2683771/size/tmg-facebook_social" alt="Card image cap" >
  <h2>Here you go, my friend. Enjoy!</h2>

    {% if whisky_names|length == 0 %}
        <h2>... Oops, there does not seem to be any scotches that match your requests. Please try another search. </h2>
    {% else %}
        <table class="table table-hover">
        <tr><th>Whisky</th><th>Reddit Review</th></tr>
        {% for whisky in whisky_names %}
        <tr><td>{{ whisky }}</td><td>{{ redditreview[loop.index0] }}</td></tr>
        {% endfor %}
        </table>
    {% endif %}
</div>

</body>
</html>